# UAS PROYEK SAINS DATA

> <br> Nama: Muhammad Muqtafin Nuha <br> NIM : 210411100218 <br><br>

<P> Informasi Data:

> <br> - Data Tumbuh Kembang Anak berasal dari Puskesmas Kamal, Kec. Kamal, Kab. Bangkalan <br> - Data sebanyak 500 record dari 12 Januari 2023 sampai 14 Februari 2023 <br> - Data ini berisi 4 atribut yaitu: Umur, Jenis Kelamin, TB, BB <br> <br>
</p>

---

# Knowledge Discovery in Database (KDD) Proses

In [4]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 2.9 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [41]:
import pandas as pd
import numpy as np
import re

## Preparation Data

### Data Awal

In [42]:
df = pd.read_excel('DataGiziAnak.xlsx')
df.head()

,No,Nama,JK,Tgl Lahir,Prov,Kab/Kota,Kec,Pukesmas,Desa/Kel,Posyandu,Alamat,Usia Saat Ukur,Tanggal Pengukuran,Berat,Tinggi,Status
0,1,NAJWA KHOIRU,P,2018-07-14,JAWA TIMUR,BANGKALAN,KAMAL,KAMAL,PENDABAH,PENDABAH BAWAH,DESA PENDABAH-POSY. PANDEBEH BAWAH,4 Tahun - 5 Bulan - 29 Hari,2023-01-12,16.0,97.5,Risiko Gizi Lebih
1,2,MOH. HOIRUL FAHMI,L,2018-04-06,JAWA TIMUR,BANGKALAN,KAMAL,KAMAL,PENDABAH,PENDABAH BAWAH,DESA PENDABAH-POSY. PANDEBEH BAWAH,4 Tahun - 9 Bulan - 7 Hari,2023-01-12,17.1,105.2,Gizi Baik
2,3,AHMAD NURUL F,L,2018-06-06,JAWA TIMUR,BANGKALAN,KAMAL,KAMAL,PENDABAH,PENDABAH BAWAH,DESA PENDABAH-POSY. PANDEBEH BAWAH,4 Tahun - 7 Bulan - 6 Hari,2023-01-12,14.0,100.1,Gizi Baik
3,4,PUTRI SALSABILA,P,2018-07-28,JAWA TIMUR,BANGKALAN,KAMAL,KAMAL,PENDABAH,PENDABAH BAWAH,DESA PENDABAH-POSY. PANDEBEH BAWAH,4 Tahun - 5 Bulan - 15 Hari,2023-01-12,16.8,100.4,Gizi Baik
4,5,MOH. MAULANA AKBAR,L,2018-09-05,JAWA TIMUR,BANGKALAN,KAMAL,KAMAL,PENDABAH,PENDABAH BAWAH,DESA PENDABAH-POSY. PANDEBEH BAWAH,4 Tahun - 4 Bulan - 7 Hari,2023-01-12,17.1,97.3,Risiko Gizi Lebih

## Selection Data

In [58]:
X = df[['Nama', 'JK', 'Usia Saat Ukur', 'Berat', 'Tinggi']]
y = df[['Status']]

### Data Fitur

In [59]:
X.head()

                   Nama  JK               Usia Saat Ukur  Berat  Tinggi
0        NAJWA KHOIRU    P   4 Tahun - 5 Bulan - 29 Hari   16.0    97.5
1   MOH. HOIRUL FAHMI    L    4 Tahun - 9 Bulan - 7 Hari   17.1   105.2
2       AHMAD NURUL F    L    4 Tahun - 7 Bulan - 6 Hari   14.0   100.1
3     PUTRI SALSABILA    P   4 Tahun - 5 Bulan - 15 Hari   16.8   100.4
4  MOH. MAULANA AKBAR    L    4 Tahun - 4 Bulan - 7 Hari   17.1    97.3

### Data Target

In [60]:
y.head()

              Status
0  Risiko Gizi Lebih
1          Gizi Baik
2          Gizi Baik
3          Gizi Baik
4  Risiko Gizi Lebih

## Preprocessing Data

### Informasi Data

In [71]:
X.info()
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nama            500 non-null    object
 1   JK              500 non-null    object
 2   Usia Saat Ukur  500 non-null    object
 3   Berat           500 non-null    float64
 4   Tinggi          500 non-null    float64
dtypes: float64(2), object(3)
memory usage: 19.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Status  500 non-null    object
dtypes: object(1)
memory usage: 4.0+ KB

### Cek Data Kosong / Missing Value

In [69]:
print(X.isnull().sum())
print(y.isnull().sum())

Nama              0
JK                0
Usia Saat Ukur    0
Berat             0
Tinggi            0
dtype: int64
Status    0
dtype: int64

### Jumlah Data Tiap Kelas

In [75]:
y['Status'].value_counts()

Status
Gizi Baik            346
Risiko Gizi Lebih    101
Gizi Lebih            35
Obesitas              18
Name: count, dtype: int64

## Transformation

In [ ]:
import re

df['Usia Saat Ukur'] = df['Usia Saat Ukur'].apply(lambda usia: 
    round(sum([int(value) * multiplier for value, multiplier in zip(map(int, re.findall(r'\d+', usia)), [12, 1, 1/30])]))
)

# Display the modified DataFrame
df.head()